---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{include "dse.fullname" .}}
  labels:
    {{- include "dse.telemetrycsvmanager.labels" . | nindent 4}}
spec:
  {{- if not .Values.telemetrycsvmanager.autoscaling.enabled}}
  replicas: {{.Values.telemetrycsvmanager.replicaCount}}
  {{- end}}
  selector:
    matchLabels:
      {{- include "dse.telemetrycsvmanager.selectorLabels" . | nindent 6}}
  template:
    metadata:
      {{- with .Values.telemetrycsvmanager.podAnnotations}}
      annotations:
        {{- toYaml . | nindent 8}}
      {{- end}}
      labels:
        {{- include "dse.telemetrycsvmanager.selectorLabels" . | nindent 8}}
          {{- with .Values.telemetrycsvmanager.podLabels}}
          {{- toYaml . | nindent 8}}
          {{- end}}
    spec:
      {{- with .Values.imagePullSecrets}}
      imagePullSecrets:
        {{- toYaml . | nindent 8}}
      {{- end}}
      serviceAccountName: {{include "dse.serviceAccountName" .}}
      securityContext:
        {{- toYaml .Values.telemetrycsvmanager.podSecurityContext | nindent 8}}
      initContainers:
        {{- toYaml .Values.telemetrycsvmanager.initContainers | nindent 8}}
      containers:
        - name: {{.Chart.Name}}
          securityContext:
          {{- toYaml .Values.telemetrycsvmanager.securityContext | nindent 12}}
          # either use the specified image, or use the default one
          image: {{.Values.telemetrycsvmanager.image.repository | required ".Values.telemetrycsvmanager.image.repository is required"}}:{{ .Values.telemetrycsvmanager.image.tag | default .Chart.AppVersion }}
          imagePullPolicy: {{.Values.telemetrycsvmanager.image.pullPolicy}}
          ports:
        {{- range $key,$value := .Values.telemetrycsvmanager.endpoints}}
            - name: {{$key}}
              containerPort: {{$value.port}}
              protocol: TCP
        {{- end}}
        {{- if .Values.telemetrycsvmanager.livenessProbe.enabled}}
          livenessProbe:
            httpGet:
              path: {{.Values.telemetrycsvmanager.endpoints.default.path}}/check/liveness
              port: {{.Values.telemetrycsvmanager.endpoints.default.port}}
            initialDelaySeconds: {{.Values.telemetrycsvmanager.livenessProbe.initialDelaySeconds}}
            periodSeconds: {{.Values.telemetrycsvmanager.livenessProbe.periodSeconds}}
            timeoutSeconds: {{.Values.telemetrycsvmanager.livenessProbe.timeoutSeconds}}
            failureThreshold: {{.Values.telemetrycsvmanager.livenessProbe.failureThreshold}}
            successThreshold: {{.Values.telemetrycsvmanager.livenessProbe.successThreshold}}
        {{- end}}
        {{- if .Values.telemetrycsvmanager.readinessProbe.enabled}}
          readinessProbe:
            httpGet:
              path: {{.Values.telemetrycsvmanager.endpoints.default.path}}/check/readiness
              port: {{.Values.telemetrycsvmanager.endpoints.default.port}}
            initialDelaySeconds: {{.Values.telemetrycsvmanager.readinessProbe.initialDelaySeconds}}
            periodSeconds: {{.Values.telemetrycsvmanager.readinessProbe.periodSeconds}}
            timeoutSeconds: {{.Values.telemetrycsvmanager.readinessProbe.timeoutSeconds}}
            failureThreshold: {{.Values.telemetrycsvmanager.readinessProbe.failureThreshold}}
            successThreshold: {{.Values.telemetrycsvmanager.readinessProbe.successThreshold}}
        {{- end}}
          resources:
          {{- toYaml .Values.telemetrycsvmanager.resources | nindent 12}}
          env:
            - name: "JAVA_TOOL_OPTIONS"
              value: "-Djavax.net.ssl.trustStore={{ .Values.telemetrycsvmanager.vault.hashicorp.cert.tlsPath }}/cacerts -Djavax.net.ssl.trustStorePassword=changeit"

            ##############
            ## HOSTNAME ##
            ##############
            - name: "EDC_HOSTNAME"
              value: {{.Release.Name | quote}}

            ######################
            ## FS CONFIGURATION ##
            ######################
            - name: "EDC_FS_CONFIG"
              value: /app/config.properties

            ######################
            ## ID CONFIGURATION ##
            ######################
            - name: "EDC_PARTICIPANT_ID"
              value: {{.Values.telemetrycsvmanager.did.web.url | required ".Values.telemetrycsvmanager.did.web.url" | quote}}
            - name: "EDC_COMPONENT_ID"
              value: {{include "dse.fullname" .}}

            ##############
            # POSTGRESQL #
            ##############
            - name: "EDC_SQL_SCHEMA_AUTOCREATE"
              value: {{.Values.telemetrycsvmanager.postgresql.schema.autocreate | required ".Values.telemetrycsvmanager.postgresql.schema.autocreate is required" | quote}}

        {{- with .Values.telemetrycsvmanager.postgresql}}
        {{- if .jdbcUrl}}
            - name: "EDC_DATASOURCE_DEFAULT_URL"
              value: {{.jdbcUrl | required ".jdbcUrl is required" | quote}}
            - name: "EDC_DATASOURCE_DEFAULT_USER"
              valueFrom:
                secretKeyRef:
                  name: {{.credentials.secret.name | required ".credentials.secret.name is required" | quote}}
                  key: {{.credentials.secret.userKey | required ".credentials.secret.userKey is required" | quote}}
            - name: "EDC_DATASOURCE_DEFAULT_PASSWORD"
              valueFrom:
                secretKeyRef:
                  name: {{.credentials.secret.name | required ".credentials.secret.name is required" | quote}}
                  key: {{.credentials.secret.passwordKey | required ".credentials.secret.passwordKey is required" | quote}}
            - name: "EDC_DATASOURCE_TELEMETRYEVENT_URL"
              value: {{.jdbcUrl | required ".jdbcUrl is required" | quote}}
            - name: "EDC_DATASOURCE_TELEMETRYEVENT_USER"
              valueFrom:
                secretKeyRef:
                  name: {{.credentials.secret.name | required ".credentials.secret.name is required" | quote}}
                  key: {{.credentials.secret.userKey | required ".credentials.secret.userKey is required" | quote}}
            - name: "EDC_DATASOURCE_TELEMETRYEVENT_PASSWORD"
              valueFrom:
                secretKeyRef:
                  name: {{.credentials.secret.name | required ".credentials.secret.name is required" | quote}}
                  key: {{.credentials.secret.passwordKey | required ".credentials.secret.passwordKey is required" | quote}}
        {{- end}}
        {{- end}}

            ###############
            # AZURE VAULT #
            ###############
        {{- if .Values.telemetrycsvmanager.vault.azure.name}}
            - name: "EDC_VAULT_NAME"
              value: {{.Values.telemetrycsvmanager.vault.azure.name | required ".Values.telemetrycsvmanager.vault.azure.name is required" | quote}}
        {{- if .Values.telemetrycsvmanager.vault.azure.url}}
            - name: "EDC_VAULT_URL_OVERRIDE"
              value: {{.Values.telemetrycsvmanager.vault.azure.url | quote}}
            - name: "EDC_VAULT_URL_OVERRIDE_UNSAFE"
              value: {{.Values.telemetrycsvmanager.vault.azure.unsafe | quote}}
        {{- end}}

        {{- with .Values.telemetrycsvmanager.vault.azure.credentials.secret}}
            - name: "AZURE_CLIENT_ID"
              valueFrom:
                secretKeyRef:
                  name: {{.name | required ".Values.telemetrycsvmanager.vault.azure.credentials.secret.name is required" | quote}}
                  key: {{.clientIdKey | required ".Values.telemetrycsvmanager.vault.azure.credentials.secret.clientIdKey is required" | quote}}
            - name: "AZURE_TENANT_ID"
              valueFrom:
                secretKeyRef:
                  name: {{.name | required ".Values.telemetrycsvmanager.vault.azure.credentials.secret.name is required" | quote}}
                  key: {{.tenantIdKey | required ".Values.telemetrycsvmanager.vault.azure.credentials.secret.tenantIdKey is required" | quote}}
            # only set the env var if config value not null
        {{- if .clientSecretKey}}
            - name: "AZURE_CLIENT_SECRET"
              valueFrom:
                secretKeyRef:
                  name: {{.name | required ".Values.telemetrycsvmanager.vault.azure.credentials.secret.name is required" | quote}}
                  key: {{.clientSecretKey | quote}}
        {{- end}}
            # only set the env var if config value not null
        {{- if .clientCertificateKey}}
            - name: "AZURE_CLIENT_CERTIFICATE_PATH"
              valueFrom:
                secretKeyRef:
                  name: {{.name | required ".Values.telemetrycsvmanager.vault.azure.credentials.secret.name is required" | quote}}
                  key: {{.clientCertificateKey | quote}}
        {{- end}}
        {{- end}}
        {{- end}}

            #####################
            ## HASHICORP VAULT ##
            #####################
        {{- if .Values.telemetrycsvmanager.vault.hashicorp.url}}
            # https://github.com/eclipse-edc/Connector/tree/main/extensions/common/vault/vault-hashicorp
            - name: "EDC_VAULT_HASHICORP_URL"
              value: {{.Values.telemetrycsvmanager.vault.hashicorp.url | quote}}
            - name: "EDC_VAULT_HASHICORP_TOKEN"
              valueFrom:
                secretKeyRef:
                  name: {{.Values.telemetrycsvmanager.vault.hashicorp.token.secret.name | required ".Values.telemetrycsvmanager.vault.hashicorp.token.secret.name is required" | quote}}
                  key: {{.Values.telemetrycsvmanager.vault.hashicorp.token.secret.tokenKey | required ".Values.telemetrycsvmanager.vault.hashicorp.token.secret.tokenKey is required" | quote}}
            - name: "EDC_VAULT_HASHICORP_TOKEN_SCHEDULED-RENEW-ENABLED"
              value: {{.Values.telemetrycsvmanager.vault.hashicorp.token.renewal.enabled | quote}}
            - name: "EDC_VAULT_HASHICORP_TOKEN_SCHEDULED_RENEW-BUFFER"
              value: {{ .Values.telemetrycsvmanager.vault.hashicorp.token.renewal.renewBuffer | quote }}
            - name: "EDC_VAULT_HASHICORP_TOKEN_TTL"
              value: {{ .Values.telemetrycsvmanager.vault.hashicorp.token.renewal.ttl | quote }}
            - name: "EDC_VAULT_HASHICORP_TIMEOUT_SECONDS"
              value: {{.Values.telemetrycsvmanager.vault.hashicorp.timeout | quote}}
            - name: "EDC_VAULT_HASHICORP_HEALTH_CHECK_ENABLED"
              value: {{.Values.telemetrycsvmanager.vault.hashicorp.healthCheck.enabled | quote}}
            - name: "EDC_VAULT_HASHICORP_HEALTH_CHECK_STANDBY_OK"
              value: {{.Values.telemetrycsvmanager.vault.hashicorp.healthCheck.standbyOk | quote}}
            - name: "EDC_VAULT_HASHICORP_API_SECRET_PATH"
              value: {{.Values.telemetrycsvmanager.vault.hashicorp.paths.secret | quote}}
            - name: "EDC_VAULT_HASHICORP_FOLDER"
              value: {{ .Values.telemetrycsvmanager.vault.hashicorp.paths.folder | quote }}
            - name: "EDC_VAULT_HASHICORP_API_HEALTH_CHECK_PATH"
              value: {{.Values.telemetrycsvmanager.vault.hashicorp.paths.health | quote}}
        {{- end}}

            #############
            # SSI / DID #
            #############
            - name: "EDC_IAM_ISSUER_ID"
              value: {{.Values.telemetrycsvmanager.did.web.url | required ".Values.telemetrycsvmanager.did.web.url" | quote}}
            - name: "EDC_IDENTITY_DID_URL"
              value: {{.Values.telemetrycsvmanager.did.web.url | required ".Values.telemetrycsvmanager.did.web.url" | quote}}
            - name: "EDC_IAM_DID_WEB_USE_HTTPS"
              value: {{.Values.telemetrycsvmanager.did.web.useHttps | required ".Values.telemetrycsvmanager.did.web.useHttps is required" | quote}}

            ###################
            # REPORT STORAGE #
            ##################
            - name: "STORAGE_TYPE"
              value: {{.Values.telemetrycsvmanager.objectStorageType | required ".Values.telemetrycsvmanager.objectStorageType is required" | quote}}
              
        {{- if eq .Values.telemetrycsvmanager.objectStorageType "azure"}}
            - name: "AZURE_CLIENT_ID"
              value: {{.Values.telemetrycsvmanager.azure.clientId | required ".Values.telemetrycsvmanager.azure.clientId is required" | quote}}
            - name: "AZURE_CLIENT_SECRET"
              value: {{.Values.telemetrycsvmanager.azure.clientSecret | required ".Values.telemetrycsvmanager.azure.clientSecret is required" | quote}}
            - name: "AZURE_TENANT_ID"
              value: {{.Values.telemetrycsvmanager.azure.tenantId | required ".Values.telemetrycsvmanager.azure.tenantId is required" | quote}}
            - name: "AZURE_STORAGE_ENDPOINT"
              value: {{.Values.telemetrycsvmanager.azure.storageEndpoint | required ".Values.telemetrycsvmanager.azure.storageEndpoint is required" | quote}}
            - name: "AZURE_STORAGE_CONTAINER"
              value: {{.Values.telemetrycsvmanager.azure.containerName | required ".Values.telemetrycsvmanager.azure.containerName is required" | quote}}
        {{- end}}

        {{- if eq .Values.telemetrycsvmanager.objectStorageType "azurite"}}
            - name: "AZURITE_CONNECTION_STRING"
              value: {{.Values.telemetrycsvmanager.azurite.connectionString | required ".Values.telemetrycsvmanager.azurite.connectionString is required" | quote}}
            - name: "AZURITE_STORAGE_CONTAINER"
              value: {{.Values.telemetrycsvmanager.azurite.containerName | required ".Values.telemetrycsvmanager.azurite.containerName is required" | quote}}
        {{- end}}

            #######
            # API #
            #######
            - name: "EDC_WEB_REST_CORS_ENABLED"
              value: {{.Values.telemetrycsvmanager.api.cors.enabled | required ".Values.telemetrycsvmanager.api.cors.enabled is required" | quote}}
            - name: "EDC_WEB_REST_CORS_HEADERS"
              value: {{.Values.telemetrycsvmanager.api.cors.allowedHeaders | required ".Values.telemetrycsvmanager.api.cors.allowedHeaders is required" | quote}}

        {{- range $key, $value := .Values.telemetrycsvmanager.envValueFrom}}
            - name: {{$key | quote}}
              valueFrom:
            {{- tpl (toYaml $value) $ | nindent 16}}
        {{- end}}
        {{- range $key, $value := .Values.telemetrycsvmanager.env}}
            - name: {{$key | quote}}
              value: {{$value | quote}}
        {{- end}}
        {{- if and (or .Values.telemetrycsvmanager.envSecretNames .Values.telemetrycsvmanager.envConfigMapNames) (or (gt (len .Values.telemetrycsvmanager.envSecretNames) 0) (gt (len .Values.telemetrycsvmanager.envConfigMapNames) 0))}}
          envFrom:
        {{- range $value := .Values.telemetrycsvmanager.envSecretNames}}
            - secretRef:
                name: {{$value | quote}}
        {{- end}}
        {{- range $value := .Values.telemetrycsvmanager.envConfigMapNames}}
            - configMapRef:
                name: {{$value | quote}}
        {{- end}}
        {{- end}}
          volumeMounts:
            - name: config
              mountPath: /app/logging.properties
              subPath: logging.properties
            - name: config
              mountPath: /app/opentelemetry.properties
              subPath: opentelemetry.properties
            - name: config
              mountPath: /app/config.properties
              subPath: config.properties
            - name: shared-volume
              readOnly: true
              mountPath: /shared
      volumes:
        - name: config
          configMap:
            name: {{include "dse.fullname" .}}-config
            items:
              - key: logging.properties
                path: logging.properties
              - key: opentelemetry.properties
                path: opentelemetry.properties
              - key: config.properties
                path: config.properties
        - name: shared-volume
          emptyDir: { }
        - name: cert-volume
          secret:
            secretName: {{  required ".Values.telemetrycsvmanager.vault.hashicorp.cert.secretName is required" .Values.telemetrycsvmanager.vault.hashicorp.cert.secretName }}

      {{- with .Values.telemetrycsvmanager.nodeSelector}}
      nodeSelector:
        {{- toYaml . | nindent 8}}
      {{- end}}
      {{- with .Values.telemetrycsvmanager.affinity}}
      affinity:
        {{- toYaml . | nindent 8}}
      {{- end}}
      {{- with .Values.telemetrycsvmanager.tolerations}}
      tolerations:
        {{- toYaml . | nindent 8}}
      {{- end}}