---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "dse.fullname" . }}
  labels:
    {{- include "dse.dataplane.labels" . | nindent 4 }}
spec:
  {{- if not .Values.dataplane.autoscaling.enabled }}
  replicas: {{ .Values.dataplane.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "dse.dataplane.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.dataplane.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "dse.dataplane.selectorLabels" . | nindent 8 }}
        {{- with .Values.dataplane.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "dse.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.dataplane.podSecurityContext | nindent 8 }}
      initContainers:
        {{- tpl (toYaml .Values.dataplane.initContainers) . | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.dataplane.securityContext | nindent 12 }}

          # either use the specified image, or use the default one
          image: {{ .Values.dataplane.image.repository | required ".Values.dataplane.image.repository is required" }}:{{ .Values.dataplane.image.tag | default .Chart.AppVersion }}
          imagePullPolicy: {{ .Values.dataplane.image.pullPolicy }}
          ports:
          {{- range $key,$value := .Values.dataplane.endpoints }}
            - name: {{ $key }}
              containerPort: {{ $value.port }}
              protocol: TCP
          {{- end }}
          {{- if .Values.dataplane.livenessProbe.enabled }}
          livenessProbe:
            httpGet:
              path: {{ .Values.dataplane.endpoints.default.path }}/check/liveness
              port: {{ .Values.dataplane.endpoints.default.port }}
            initialDelaySeconds: {{ .Values.dataplane.livenessProbe.initialDelaySeconds }}
            periodSeconds: {{ .Values.dataplane.livenessProbe.periodSeconds }}
            timeoutSeconds: {{ .Values.dataplane.livenessProbe.timeoutSeconds }}
            failureThreshold: {{ .Values.dataplane.livenessProbe.failureThreshold }}
            successThreshold: {{ .Values.dataplane.livenessProbe.successThreshold }}
          {{- end }}
          {{- if .Values.dataplane.readinessProbe.enabled }}
          readinessProbe:
            httpGet:
              path: {{ .Values.dataplane.endpoints.default.path }}/check/readiness
              port: {{ .Values.dataplane.endpoints.default.port }}
            initialDelaySeconds: {{ .Values.dataplane.readinessProbe.initialDelaySeconds }}
            periodSeconds: {{ .Values.dataplane.readinessProbe.periodSeconds }}
            timeoutSeconds: {{ .Values.dataplane.readinessProbe.timeoutSeconds }}
            failureThreshold: {{ .Values.dataplane.readinessProbe.failureThreshold }}
            successThreshold: {{ .Values.dataplane.readinessProbe.successThreshold }}
          {{- end }}
          resources:
            {{- toYaml .Values.dataplane.resources | nindent 12 }}
          env:
            - name: "JAVA_TOOL_OPTIONS"
              value: "-Djavax.net.ssl.trustStore={{ .Values.dataplane.vault.hashicorp.cert.tlsPath }}/cacerts -Djavax.net.ssl.trustStorePassword=changeit"

          ######################
          ## FS CONFIGURATION ##
          ######################
            - name: "EDC_FS_CONFIG"
              value: /app/config.properties

            ######################
            ## ID CONFIGURATION ##
            ######################
            - name: "EDC_PARTICIPANT_ID"
              value: {{ .Values.dataplane.did.web.url | required ".Values.dataplane.did.web.url" | quote }}
            - name: "EDC_COMPONENT_ID"
              value: {{ include "dse.fullname" .}}

          #################
          ## CONTROL URL ##
          #################
            - name: "EDC_CONTROL_ENDPOINT"
              value: {{ include "dse.dataplane.url.control" . }}

          ##############
          # POSTGRESQL #
          ##############
            - name: "EDC_SQL_SCHEMA_AUTOCREATE"
              value: {{ .Values.dataplane.postgresql.schema.autocreate | required ".Values.dataplane.postgresql.schema.autocreate is required" | quote }}

          {{- with .Values.dataplane.postgresql }}
          {{- if .jdbcUrl }}
            - name: "EDC_DATASOURCE_DEFAULT_URL"
              value: {{ .jdbcUrl | required ".jdbcUrl is required" | quote }}
            - name: "EDC_DATASOURCE_DEFAULT_USER"
              valueFrom:
                secretKeyRef:
                  name: {{ .credentials.secret.name | required ".credentials.secret.name is required" | quote }}
                  key: {{ .credentials.secret.userKey | required ".credentials.secret.userKey is required" | quote }}
            - name: "EDC_DATASOURCE_DEFAULT_PASSWORD"
              valueFrom:
                secretKeyRef:
                  name: {{ .credentials.secret.name | required ".credentials.secret.name is required" | quote }}
                  key: {{ .credentials.secret.passwordKey | required ".credentials.secret.passwordKey is required" | quote }}
          {{- end }}
          {{- end }}

            #####################
            ## HASHICORP VAULT ##
            #####################
          {{- if .Values.dataplane.vault.hashicorp.url }}
            # https://github.com/eclipse-edc/Connector/tree/main/extensions/common/vault/vault-hashicorp
            - name: "EDC_VAULT_HASHICORP_URL"
              value: {{ .Values.dataplane.vault.hashicorp.url | quote }}
            - name: "EDC_VAULT_HASHICORP_TOKEN"
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.dataplane.vault.hashicorp.token.secret.name | required ".Values.dataplane.vault.hashicorp.token.secret.name is required" | quote }}
                  key: {{ .Values.dataplane.vault.hashicorp.token.secret.tokenKey | required ".Values.dataplane.vault.hashicorp.token.secret.tokenKey is required" | quote }}
            - name: "EDC_VAULT_HASHICORP_TOKEN_SCHEDULED-RENEW-ENABLED"
              value: {{ .Values.dataplane.vault.hashicorp.token.renewal.enabled | quote }}
            - name: "EDC_VAULT_HASHICORP_TOKEN_RENEW-BUFFER"
              value: {{ .Values.dataplane.vault.hashicorp.token.renewal.renewBuffer | quote }}
            - name: "EDC_VAULT_HASHICORP_TOKEN_TTL"
              value: {{ .Values.dataplane.vault.hashicorp.token.renewal.ttl | quote }}
            - name: "EDC_VAULT_HASHICORP_TIMEOUT_SECONDS"
              value: {{ .Values.dataplane.vault.hashicorp.timeout | quote }}
            - name: "EDC_VAULT_HASHICORP_HEALTH_CHECK_ENABLED"
              value: {{ .Values.dataplane.vault.hashicorp.healthCheck.enabled | quote }}
            - name: "EDC_VAULT_HASHICORP_HEALTH_CHECK_STANDBY_OK"
              value: {{ .Values.dataplane.vault.hashicorp.healthCheck.standbyOk | quote }}
            - name: "EDC_VAULT_HASHICORP_API_SECRET_PATH"
              value: {{ .Values.dataplane.vault.hashicorp.paths.secret | quote }}
            - name: "EDC_VAULT_HASHICORP_FOLDER"
              value: {{ .Values.dataplane.vault.hashicorp.paths.folder | quote }}
            - name: "EDC_VAULT_HASHICORP_API_HEALTH_CHECK_PATH"
              value: {{ .Values.dataplane.vault.hashicorp.paths.health | quote }}
          {{- end }}

            ########
            # DPF ##
            ########
            - name: "EDC_TRANSFER_PROXY_TOKEN_SIGNER_PRIVATEKEY_ALIAS"
              value: {{ .Values.dataplane.keys.dataplane.privateKeyVaultAlias | required ".Values.dataplane.keys.dataplane.privateKeyVaultAlias is required" | quote }}
            - name: "EDC_TRANSFER_PROXY_TOKEN_VERIFIER_PUBLICKEY_ALIAS"
              value: {{ .Values.dataplane.keys.dataplane.publicKeyVaultAlias | required ".Values.dataplane.keys.dataplane.publicKeyVaultAlias is required" | quote }}
            - name: "EDC_DATAPLANE_API_PUBLIC_BASEURL"
              value: {{ include "dse.dataplane.url.public" .}}

          #################
          # DPF SELECTOR ##
          #################
            - name: "EDC_DPF_SELECTOR_URL"
              value: {{ .Values.dataplane.selector.url | required ".Values.dataplane.selector.url is required" | quote }}

            #######
            # API #
            #######
            - name: "EDC_WEB_REST_CORS_ENABLED"
              value: {{ .Values.dataplane.api.cors.enabled | required ".Values.dataplane.api.cors.enabled is required" | quote }}
            - name: "EDC_WEB_REST_CORS_HEADERS"
              value: {{ .Values.dataplane.api.cors.allowedHeaders | required ".Values.dataplane.api.cors.allowedHeaders is required" | quote }}

          {{- range $key, $value := .Values.dataplane.envValueFrom }}
            - name: {{ $key | quote }}
              valueFrom:
                {{- tpl (toYaml $value) $ | nindent 16 }}
          {{- end }}
          {{- range $key, $value := .Values.dataplane.env }}
            - name: {{ $key | quote }}
              value: {{ $value | quote }}
          {{- end }}
          {{- if and (or .Values.dataplane.envSecretNames .Values.dataplane.envConfigMapNames) (or (gt (len .Values.dataplane.envSecretNames) 0) (gt (len .Values.dataplane.envConfigMapNames) 0)) }}
          envFrom:
          {{- range $value := .Values.dataplane.envSecretNames }}
            - secretRef:
                name: {{ $value | quote }}
          {{- end }}
          {{- range $value := .Values.dataplane.envConfigMapNames }}
            - configMapRef:
                name: {{ $value | quote }}
          {{- end }}
          {{- end }}
          volumeMounts:
            - name: config
              mountPath: /app/logging.properties
              subPath: logging.properties
            - name: config
              mountPath: /app/opentelemetry.properties
              subPath: opentelemetry.properties
            - name: config
              mountPath: /app/config.properties
              subPath: config.properties
            - name: shared-volume
              readOnly: true
              mountPath: /shared
      volumes:
        - name: config
          configMap:
            name: {{ include "dse.fullname" . }}-config
            items:
              - key: logging.properties
                path: logging.properties
              - key: opentelemetry.properties
                path: opentelemetry.properties
              - key: config.properties
                path: config.properties
        - name: shared-volume
          emptyDir: { }
        - name: cert-volume
          secret:
            secretName: {{  required ".Values.dataplane.vault.hashicorp.cert.secretName is required" .Values.dataplane.vault.hashicorp.cert.secretName }}

      {{- with .Values.dataplane.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.dataplane.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.dataplane.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}