{{- $fullName := include "dse.fullname" . }}
{{- $connectorLabels := include "dse.dataplane.labels" . }}
{{- $connectorEdcEndpoints := .Values.dataplane.endpoints }}
{{- $gitVersion := .Capabilities.KubeVersion.GitVersion }}
{{- $namespace := .Release.Namespace }}

{{- if .Values.dataplane.ingress.enabled -}}
{{- with .Values.dataplane.ingress }}
{{- $connectorIngressName := $fullName }}
{{- $annotations := .annotations | default dict }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ $fullName }}
  namespace: {{ $namespace | default "default" | quote }}
  labels:
    {{- $connectorLabels | nindent 4 }}
  annotations:
    {{- if and .className (not (semverCompare ">=1.18-0" $gitVersion)) }}
    {{- if not (hasKey $annotations "kubernetes.io/ingress.class") }}
    {{- $_ := set $annotations "kubernetes.io/ingress.class" .className}}
    {{- end }}
    {{- end }}
    {{- if .certManager }}
    {{- if .certManager.issuer }}
    {{- $_ := set $annotations "cert-manager.io/issuer" .certManager.issuer}}
    {{- end }}
    {{- if .certManager.clusterIssuer }}
    {{- $_ := set $annotations "cert-manager.io/cluster-issuer" .certManager.clusterIssuer}}
    {{- end }}
    {{- end }}
    {{- with $annotations }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
spec:
  {{- if and .className (semverCompare ">=1.18-0" $gitVersion) }}
  ingressClassName: {{ .className }}
  {{- end }}
  {{- if .tls.enabled }}
  tls:
    - hosts:
        - {{ .hostname | required ".hostname is required" }}
      {{- if .tls.secretName }}
      secretName: {{ .tls.secretName }}
      {{- else }}
      secretName: {{ $connectorIngressName }}-tls
      {{- end }}
  {{- end }}
  rules:
    - http:
        paths:
          {{- range .endpoints }}
          - path: {{ .path }}
            pathType: {{ .pathType | default "Prefix" }}
            backend:
              {{- if semverCompare ">=1.19-0" $.Capabilities.KubeVersion.GitVersion }}
              service:
                name: {{ $fullName }}
                port:
                  number: {{ .port }}
              {{- else }}
              serviceName: {{ $fullName }}
              servicePort: {{ .port }}
              {{- end }}
          {{- end }}
      {{- if .hostname }}
      host: {{ .hostname }}
      {{- end}}
{{- end }}
{{- end }}